<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .row {
            background-color: #F0E68C;
        }
        .form-container {
            display: none;
        }
        .row.mb-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
        }
        .clickable-label {
            position: center;
            cursor: pointer;
            font-weight: bold;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row mb-2">
        <label for="addFlightForm" class="clickable-label">Add Flight</label>
    </div>
    <div class="row mb-2">
        <label for="uploadForm" class="clickable-label">Add Flights By Uploading File</label>
    </div>
    <div id="addFlightForm" class="form-container mt-3">
        <form th:action="@{/admin/add_flight}" method="post" th:object="${addFlightReqDTO}">
            <label for="journeyDate">Date:</label>
            <input type="date" id="journeyDate" name="journeyDate" th:field="*{journeyDate}" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">

            <br>
            <label>Select Flights: </label>
            <br>
            <button type="button" onclick="toggleSelectAll()">Select All</button>
            <div th:each="flightID : ${flightIDs}">
                <input type="checkbox" th:field="*{flightIDs}" th:value="${flightID}" />
                <span th:text="${flightID}"></span>
            </div>

            <button type="submit">Confirm</button>
        </form>
    </div>
    <div id="uploadForm" class="form-container mt-3">
        <h4>Add flights by uploading <b>CSV</b> file</h4>
        <form th:action="@{/admin/upload}" method="post" enctype="multipart/form-data">
            <input id="input-file" type="file" name="file" />
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function toggleSelectAll() {
        var checkboxes = document.querySelectorAll('#addFlightForm input[type="checkbox"]');
        var selectAllButton = document.querySelector('#addFlightForm button');

        var areAllChecked = true;
        checkboxes.forEach(function(checkbox) {
            if (!checkbox.checked) {
                areAllChecked = false;
            }
        });

        checkboxes.forEach(function(checkbox) {
            checkbox.checked = !areAllChecked;
        });

        selectAllButton.textContent = areAllChecked ? 'Select All' : 'Unselect All';
    }

    $(document).ready(function() {
        $('#journeyDate').val(new Date().toISOString().slice(0, 10));

        $('.row.mb-2').on('click', function() {
            var target = $(this).find('label').attr('for');
            $('.form-container').hide();
            $('#' + target).show();
        });
    });
</script>
</body>
</html>
