<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirmed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #ffffff;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div th:replace="_navbar.html"></div>
<div class="container">
    <img th:src="@{/images/confirm-icon.png}" alt="Success" class="success-image" style="width: 25%; height: 25%;">
    <h3 class="mt-2 mb-2" style="font-family: Fira Sans;">Flight schedule Updated!</h3>
</div>
</body>
</html>