<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AERO</title>
</head>
    <body>

    <h1>Welcome to AERO!!</h1>
    <form th:action="@{/login}" method="get">
        <button type="submit">Login</button>
    </form>
<br>
    <form th:action="@{/logout}" method="get">
        <button type="submit">Logout</button>
    </form>
<br><br>

    <form th:action="@{/register}" method="get">
        <button type="submit">Register</button>
    </form>
<br><br>

    <form th:action="@{/passenger/info}" method="get">
        <button type="submit">My Profile</button>
    </form>
<br><br>

    <form th:action="@{/search}" method="post" th:object="${flightSearchReqDTO}">
<!--        <p th:if="${#fields.hasErrors('isFormToCodeDifferent')}" th:errors="*{isFormToCodeDifferent}"></p><br>-->
        <!-- From Airport Selection -->
        <label for="fromCode">From</label>
        <select id="fromCode" name="fromCode" th:field="*{fromCode}">
            <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code + ' | ' + airport.name + ' - ' + airport.city}"></option>
        </select>
<br><br>

        <!-- To Airport Select -->
        <label for="toCode">To:</label>
        <select id="toCode" name="toCode" th:field="*{toCode}">
            <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code + ' | ' + airport.name + ' - ' + airport.city}"></option>
        </select>
<br><br>
        <!-- Journey Date -->
        <label for="journeyDate">Journey Date:</label>
        <input type="date" id="journeyDate" name="journeyDate" th:field="*{journeyDate}" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
<!--        <p th:if="${#fields.hasErrors('journeyDate')}" th:errors="*{journeyDate}"></p><br>-->
<br><br>
        <!-- Class Select -->
        <label for="seatClass">Class:</label>
        <select id="seatClass" name="seatClass" th:field="*{seatClass}">
            <option th:each="classType : ${seatClasses}" th:value="${classType}" th:text="${classType}"></option>
        </select>
<br><br>
        <!-- Number of Travelers -->
        <label for="noPassengers">Travelers:</label>
        <select id="noPassengers" name="noPassengers" th:field="*{noPassengers}">
            <option th:each="i : ${#numbers.sequence(1, highestPassenger)}" th:value="${i}" th:text="${i}"></option>
        </select>

        <br>
        <button type="submit">Search</button>
    </form>

<br><br>
    <button th:onclick="window.open([[${whatsappURL}]])">Chat with us on WhatsApp Web</button>

    </body>
</html>