<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AERO</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mu-4 mb-4">
        <div class="navbar-nav">
            <form class="nav-item" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-primary bg-dark">Login</button>
            </form>
            <form class="nav-item" th:action="@{/logout}" method="get">
                <button type="submit" class="btn btn-primary bg-dark">Logout</button>
            </form>
            <form class="nav-item" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-primary bg-dark">Register</button>
            </form>
            <form class="nav-item" th:action="@{/passenger/info}" method="get">
                <button type="submit" class="btn btn-primary bg-dark">My Profile</button>
            </form>
            <form class="nav-item" th:action="@{/admin}" method="get">
                <button type="submit" class="btn btn-primary bg-dark">Admin</button>
            </form>
            <button class="nav-item btn btn-link" th:onclick="window.open([[${whatsappURL}]])">Chat with us on WhatsApp Web</button>
        </div>
    </nav>

    <form th:action="@{/search}" method="post" th:object="${flightSearchReqDTO}" class="mb-3">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fromCode">From</label>
                <select id="fromCode" name="fromCode" th:field="*{fromCode}" class="form-control">
                    <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code + ' | ' + airport.name + ' - ' + airport.city}"></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="toCode">To</label>
                <select id="toCode" name="toCode" th:field="*{toCode}" class="form-control">
                    <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code + ' | ' + airport.name + ' - ' + airport.city}"></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="journeyDate">Journey Date</label>
                <input type="date" id="journeyDate" name="journeyDate" th:field="*{journeyDate}" class="form-control" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            </div>
            <div class="form-group col-md-2">
                <label for="seatClass">Class</label>
                <select id="seatClass" name="seatClass" th:field="*{seatClass}" class="form-control">
                    <option th:each="classType : ${seatClasses}" th:value="${classType}" th:text="${classType}"></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="noPassengers">Travelers</label>
                <select id="noPassengers" name="noPassengers" th:field="*{noPassengers}" class="form-control">
                    <option th:each="i : ${#numbers.sequence(1, highestPassenger)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#journeyDate').val(new Date().toISOString().slice(0, 10));

        $('#fromCode').on('change', function() {
            var selectedAirportCode = $(this).val();
            $('#toCode option[value="' + selectedAirportCode + '"]').remove();
        });
    });
</script>
</body>

</html>
