<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${loginReqDTO}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username">
        <input type="password" th:field="*{password}" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <!-- Display error messages if authentication fails -->
<!--    <div th:if="${param.error}">-->
<!--        <p th:if="${#request.getAttribute('javax.servlet.error.message') == 'Bad credentials'}">Incorrect username or password!</p>-->
<!--        <p th:if="${#request.getAttribute('javax.servlet.error.message') == 'UserDetailsService returned null'}">User not found!</p>-->
<!--    </div>-->
</body>
</html>
