<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <th:block th:if="${errMsg}" th:text="${errMsg}"></th:block>

    <form th:action="@{/login}" th:object="${loginReqDTO}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username">
        <input type="password" th:field="*{password}" placeholder="Password">
        <button type="submit">Login</button>
    </form>

</body>
</html>
