<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>No Flights</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <img th:src="@{/images/no_flight.png}" alt="No Flights" class="img-fluid">
    <p class="message">no flights available for the selected criteria. Please try again with different options.</p>
    <a th:href="@{/}" class="btn btn-primary">Search Again</a>
</div>
</body>
</html>
