<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 th:text="'Hello ' + ${passengerName}" class="mt-5"></h1>
    <h3 class="mb-4">Your journey with us....</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ticket#</th>
            <th>Journey Date</th>
            <th>From</th>
            <th>To</th>
            <th>Class</th>
            <th>Seats</th>
            <th>Fare</th>
            <th>Status</th>
            <th>PDF</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${myTickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.date}"></td>
            <td th:text="${ticket.from}"></td>
            <td th:text="${ticket.to}"></td>
            <td th:text="${ticket.seatClassType}"></td>
            <td th:text="${ticket.seats}"></td>
            <td th:text="${ticket.totalFare}"></td>
            <td th:text="${ticket.ticketStatus}"></td>
            <td><a th:href="@{'/passenger/showTicket/' + ${ticket.id}}" class="btn btn-primary btn-sm">Download</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
